@model List<DataLayer.Existing_CurrentEngagementClass>
<div>
    @if (@Model.Count != 0)
    {
        <div id="person_head_wrap" style="overflow: hidden; max-width:100%">
            <table id="person" class="tbl1">
                <thead>
                    <tr>
                        <th>Resource Name
                        </th>
                        <th>Technology
                        </th>
                        <th>Client Name</th>
                        <th>Project Name</th>
                        <th>Rate</th>
                        <th>Assignment End date</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="person_body_wrap" style="overflow: auto;max-width:100%; height:170px ;">
            <table id="ExistingEngagements" class="tbl1">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="#" id = '@item.id' style="color:blue">@item.ResourceName</a></td>
                            <td>@item.Technology</td>
                            <td>@item.ClientName</td>
                            <td>@item.ProjectName</td>
                            <td>@item.EstimatedRateValue</td>
                            <td>@item.TentativeEndDate.ToShortDateString()</td>
                        </tr>
                    }

                    <!-- Additional rows removed for brevity. -->
            </table>
        </div>
    }

    else
    {
        <div>
            <h4>No Record</h4>
        </div>
    }
</div>

@using (Html.BeginForm("ExportDataExistingEngagements", "DashBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Export" />
    }